.about {
    position: relative;
    max-width: $max-width;
    padding: 100px 13%;
    overflow: hidden;
    background-color: $secondary-color;
    color: $main-color;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-gap: 30px;
    border: 15px $main-color solid;
    overflow-y: scroll;
    grid-template-columns: repeat(2, 1fr);
    @include styledScroll;

    &__header,
    &__h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 10px;
        grid-column: 1 / -1;
        font-weight: 700;
    }

    &__basic-info {
        list-style: none;
        padding: 0 15px;
        font-weight: 700;
        color: $third-color;

        & li {
            padding: 20px 0;
            border-bottom: 1px solid $main-color;

            & span {
                font-weight: normal;
                color: $main-color;
            }
        }

        & li:first-child {
            padding-top: 0;
        }

        & li:last-child {
            border-bottom: none;
        }
    }

    &__description__button {
        position: relative;
        z-index: 4;
        margin: 5% 0;
        @include buttonMixin($third-color, transparent);
    }

}

@media screen and (max-width:$mobileBP) {
    .about {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        border: none;
        grid-template-columns: 1fr;

    }
}