.contact {
    position: relative;
    max-width: $max-width;
    padding: 100px 13%;
    overflow: hidden;
    background-color: $secondary-color;
    color: $main-color;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: 15px $main-color solid;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 30%;
    grid-gap: 15px;
    @include styledScroll;

    &__header {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 10px;
        grid-column: span 2;
        font-weight: 700;
    }

    &__form {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        grid-gap: 20px;
        align-items: center;
        position: relative;

        & input,
        & textarea {
            padding: 20px;
            background-color: transparent;
            border: 1px solid $main-color;
            color: $main-color;
        }

        & input[name="subject"],
        & textarea {
            grid-column: 1/-1;
        }

        & button {
            @include buttonMixin($main-color, $secondary-color);

        }

        &__input--hidden {
            display: none;
        }
    }

    &__info {
        font-size: 1.4rem;
        align-self: center;
        justify-self: center;
        grid-row: span 2;

        &__ul {
            list-style: none;

            &__city,
            &__mail,
            &__git,
            &__linkedin {
                margin: 40px 0;

                & i {
                    padding: 0 5px;
                }

                & a {
                    display: block;
                    text-decoration: none;
                    color: $main-color;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        color: $third-color;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: $mobileBP) {
    .contact {
        grid-template-columns: 1fr;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        border: none;

        &__form {
            grid-template-columns: 1fr;
        }
    }
}