.education {
    grid-column: -1/1;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 30px;

    &__item {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color: $main-color;
        font-weight: 700;
        border: 1px solid $third-color;

        & p:first-child {
            color: $third-color;
        }
    }
}