@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin-ext');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: $secondary-color;
}

body {
    overflow: hidden;
}