.nav {
    &__ul {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all $trs-time;
        list-style: none;
        align-items: center;
        background-color: rgba(0, 0, 0, .9);
        color: $secondary-color;
        z-index: 5;
        opacity: 0;
        will-change: opacity, width;
        pointer-events: none;
        mix-blend-mode: overlay;
        font-size: 1.3rem;
        font-weight: bold;

        & li {
            margin: 30px 0;
            text-transform: uppercase;

            & a {
                text-decoration: none;
                color: grey;
            }
        }

        & li:hover a {
            transition: all $trs-time;
            color: white;
            cursor: pointer;
        }
    }

    &:hover &__ul {
        opacity: 1;
        pointer-events: all;
        width: 20vw;
        position: absolute;
    }
}

.hamburger {
    font-size: 3vw;
    position: absolute;
    top: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40px;
    height: 40px;
    z-index: 3;
    cursor: pointer;


    & span {
        width: 100%;
        height: 5px;
        background-color: $third-color;

    }
}

@media screen and (max-width:$mobileBP) {
    .nav {
        &__ul {
            position: fixed;
            height: 100%;

            mix-blend-mode: normal;
        }

        &:hover &__ul {
            position: fixed;
            width: 85vw;
        }
    }
}