@import url(https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin-ext);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #d2dae2; }

body {
  overflow: hidden; }

.lds-facebook {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  z-index: 7; }

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #2d3986;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s; }

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s; }

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0; }

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px; }
  50%,
  100% {
    top: 19px;
    height: 26px; } }

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f3f3f3; }

.container--inner {
  border: 15px #d2dae2 solid;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 95%;
  height: 90vh;
  margin: 0 auto;
  max-width: 1480px;
  background-color: transparent;
  z-index: 4; }
  .container--inner::before, .container--inner::after {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 92%;
    height: 96%;
    border: 1px solid #d2dae2;
    z-index: 6;
    pointer-events: none; }
  .container--inner::after {
    width: 95%;
    height: 93%; }
  .container--inner__border::before, .container--inner__border::after {
    border: 1px solid #2d3986; }

.site-change {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: #d2dae2;
  z-index: 4; }

@media screen and (max-width: 760px) {
  .site-change {
    position: fixed;
    bottom: 100%;
    left: 0;
    z-index: 4; } }

.site-change--active {
  animation: anim 2s 1 both; }

@keyframes anim {
  0% {
    bottom: -110%; }
  50% {
    bottom: 0; }
  65% {
    bottom: 0; }
  100% {
    bottom: 110%; } }

.nav__ul {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  list-style: none;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #d2dae2;
  z-index: 5;
  opacity: 0;
  will-change: opacity, width;
  pointer-events: none;
  font-size: 1.3rem;
  font-weight: bold;
  will-change: transform;
  transform: translateX(100%); }
  .nav__ul__li {
    margin: 30px 0;
    text-transform: uppercase; }
    .nav__ul__li__a {
      text-decoration: none;
      color: grey;
      cursor: pointer; }
      .nav__ul__li__a--disabled {
        pointer-events: none; }
  .nav__ul li:hover a {
    transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    color: white; }

.hamburger {
  font-size: 3vw;
  position: absolute;
  top: 5%;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
  z-index: 6;
  cursor: pointer;
  overflow: hidden; }
  .hamburger span {
    width: 100%;
    height: 5px;
    background-color: #1e272e;
    transition: .5s;
    transform: translateX(0); }
  .hamburger--active span {
    background-color: #2d3986; }
  .hamburger--active span:nth-of-type(2) {
    transform: translateX(100%); }
  .hamburger--active span:nth-of-type(1) {
    transition-delay: .5s;
    transform: rotate(45deg) translate(10px, 7px); }
  .hamburger--active span:nth-of-type(3) {
    transition-delay: .5s;
    transform: rotate(-45deg) translate(8px, -6px); }

@media screen and (max-width: 760px) {
  .nav__ul {
    position: fixed;
    height: 100%;
    width: 100vw; } }

.home {
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
  background-color: #2d3986;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  animation: initialStage 1s forwards; }

@keyframes initialStage {
  to {
    opacity: 1; } }
  .home__h1 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 10px 40px; }
  .home__button {
    position: relative;
    z-index: 4;
    margin: 5% 0;
    position: relative;
    color: #d2dae2;
    background-color: transparent;
    border: 1px solid #d2dae2;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none; }
    .home__button::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120%;
      height: 110%;
      background-color: #202960;
      transform: translate(-50%, -50%) rotate(-5deg);
      opacity: 0;
      transition: 0.3s ease-in-out; }
    .home__button:hover::before {
      opacity: .5; }
  .home__socials__a {
    text-decoration: none;
    color: #d2dae2;
    font-size: 2rem;
    margin: 0 20px;
    transition: 0.2s; }
    .home__socials__a:hover {
      color: #1e272e; }

@media screen and (max-width: 760px) {
  .home {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border: none; }
    .home__h1 {
      font-size: 2rem; }
    .home__h2 {
      font-size: 1.2rem; } }

.about {
  position: relative;
  max-width: 1480px;
  padding: 100px 13%;
  overflow: hidden;
  background-color: #d2dae2;
  color: #2d3986;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-gap: 30px;
  border: 15px #2d3986 solid;
  overflow-y: scroll;
  grid-template-columns: repeat(2, 1fr); }
  .about::-webkit-scrollbar {
    width: 5px; }
  .about::-webkit-scrollbar-thumb {
    background-color: #2d3986;
    outline: 1px solid #1e272e; }
  .about__header, .about__h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 10px;
    grid-column: 1 / -1;
    font-weight: 700; }
  .about__basic-info {
    list-style: none;
    padding: 0 15px;
    font-weight: 700;
    color: #1e272e; }
    .about__basic-info li {
      padding: 20px 0;
      border-bottom: 1px solid #2d3986; }
      .about__basic-info li span {
        font-weight: normal;
        color: #2d3986; }
    .about__basic-info li:first-child {
      padding-top: 0; }
    .about__basic-info li:last-child {
      border-bottom: none; }
  .about__description__button {
    position: relative;
    z-index: 4;
    margin: 5% 0;
    position: relative;
    color: #1e272e;
    background-color: transparent;
    border: 1px solid #1e272e;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none; }
    .about__description__button::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120%;
      height: 110%;
      background-color: #202960;
      transform: translate(-50%, -50%) rotate(-5deg);
      opacity: 0;
      transition: 0.3s ease-in-out; }
    .about__description__button:hover::before {
      opacity: .5; }

@media screen and (max-width: 760px) {
  .about {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border: none;
    grid-template-columns: 1fr; } }

.icons {
  grid-column: -1/1;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px; }
  .icons__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; }
    .icons__icon i {
      font-size: 2.4rem; }

.education {
  grid-column: -1/1;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 30px;
  padding: 30px 0; }
  .education__item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #2d3986;
    border: 1px solid #1e272e; }
    .education__item p:first-child {
      color: #1e272e;
      font-weight: 700; }

.portfolio {
  position: relative;
  max-width: 1480px;
  padding: 100px 13%;
  overflow-x: hidden;
  background-color: #d2dae2;
  color: #2d3986;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 15px #2d3986 solid;
  overflow-y: scroll; }
  .portfolio::-webkit-scrollbar {
    width: 5px; }
  .portfolio::-webkit-scrollbar-thumb {
    background-color: #2d3986;
    outline: 1px solid #1e272e; }
  .portfolio__header {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 700; }
  .portfolio__projects {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding: 30px 0; }
    .portfolio__projects__project {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      .portfolio__projects__project::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        height: 110%;
        background-color: #202960;
        transform: translate(-50%, -50%) rotate(-5deg);
        opacity: 0;
        transition: 0.3s ease-in-out; }
      .portfolio__projects__project:hover::before {
        opacity: .5; }
      .portfolio__projects__project img {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        z-index: -4;
        transition: all .6s; }
      .portfolio__projects__project__description {
        color: #d2dae2;
        font-size: 1.5rem;
        background-color: rgba(30, 39, 46, 0.5);
        text-align: center;
        padding: 20px;
        overflow: hidden; }
        .portfolio__projects__project__description--shown, .portfolio__projects__project__description--hidden {
          transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
        .portfolio__projects__project__description--hidden {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          opacity: 0;
          grid-gap: 5px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -250%); }
          .portfolio__projects__project__description--hidden a {
            display: block;
            margin: 0 20px;
            text-decoration: none;
            color: #d2dae2;
            cursor: pointer; }
            .portfolio__projects__project__description--hidden a:hover {
              color: #575fcf; }
      .portfolio__projects__project:hover .portfolio__projects__project__description--shown {
        transform: translateY(-250%);
        opacity: 0; }
      .portfolio__projects__project:hover .portfolio__projects__project__description--hidden {
        transform: translate(-50%, -50%);
        opacity: 1; }

@media screen and (max-width: 760px) {
  .portfolio {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border: none; }
    .portfolio__projects {
      grid-template-columns: 1fr; } }

.contact {
  position: relative;
  max-width: 1480px;
  padding: 100px 13%;
  overflow: hidden;
  background-color: #d2dae2;
  color: #2d3986;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 15px #2d3986 solid;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 30%;
  grid-gap: 15px; }
  .contact::-webkit-scrollbar {
    width: 5px; }
  .contact::-webkit-scrollbar-thumb {
    background-color: #2d3986;
    outline: 1px solid #1e272e; }
  .contact__header {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 10px;
    grid-column: span 2;
    font-weight: 700; }
  .contact__form {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 20px;
    align-items: center;
    position: relative; }
    .contact__form input,
    .contact__form textarea {
      padding: 20px;
      background-color: transparent;
      border: 1px solid #2d3986;
      color: #2d3986; }
    .contact__form input[name="subject"],
    .contact__form textarea {
      grid-column: 1/-1; }
    .contact__form button {
      position: relative;
      color: #2d3986;
      background-color: #d2dae2;
      border: 1px solid #2d3986;
      padding: 10px 15px;
      text-transform: uppercase;
      cursor: pointer;
      outline: none; }
      .contact__form button::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        height: 110%;
        background-color: #202960;
        transform: translate(-50%, -50%) rotate(-5deg);
        opacity: 0;
        transition: 0.3s ease-in-out; }
      .contact__form button:hover::before {
        opacity: .5; }
    .contact__form__input--hidden {
      display: none; }
  .contact__info {
    font-size: 1.4rem;
    align-self: center;
    justify-self: center;
    grid-row: span 2; }
    .contact__info__ul {
      list-style: none; }
      .contact__info__ul__city, .contact__info__ul__mail, .contact__info__ul__git, .contact__info__ul__linkedin {
        margin: 40px 0; }
        .contact__info__ul__city i, .contact__info__ul__mail i, .contact__info__ul__git i, .contact__info__ul__linkedin i {
          padding: 0 5px; }
        .contact__info__ul__city a, .contact__info__ul__mail a, .contact__info__ul__git a, .contact__info__ul__linkedin a {
          display: block;
          text-decoration: none;
          color: #2d3986;
          cursor: pointer;
          transition: 0.2s; }
          .contact__info__ul__city a:hover, .contact__info__ul__mail a:hover, .contact__info__ul__git a:hover, .contact__info__ul__linkedin a:hover {
            color: #1e272e; }

@media screen and (max-width: 760px) {
  .contact {
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border: none; }
    .contact__form {
      grid-template-columns: 1fr; } }


/*# sourceMappingURL=styles.chunk.css.map*/